{% extends "application.html" %}

{% block content %}
    <h2>素材を編集</h2>
    <form method="POST">
        <label for="name">品名:</label>
        <input type="text" name="name" value="{{ material.name }}" required>
    
        <label for="quantity">数量:</label>
        <input type="number" name="quantity" value="{{ material.quantity }}" required>
    
        <label for="unit_price">単価:</label>
        <input type="number" step="0.01" name="unit_price" value="{{ material.unit_price }}" required>
    
        <!-- コメントアウトしたフィールド -->
        <label for="category">カテゴリー:</label>
        <input type="text" name="category" value="{{ material.category }}">
        <label for="supplier">サプライヤー:</label>
        <input type="text" name="supplier" value="{{ material.supplier }}">
    
        <label for="purchase_date">購入日:</label>
        <input type="date" name="purchase_date" value="{{ material.purchase_date }}">
        <label for="supplier_contact_or_notes">仕入れ先連絡先や備考:</label>
        <input type="text" id="supplier_contact_or_notes" name="supplier_contact_or_notes" value="{{ material.supplier_contact_or_notes }}">
    
        <button type="submit">更新</button>
    </form>
{% endblock %}
